:root {
    --primary: #ff0083;
    --secondary: #011526;
    --text-on-secondary: #9ebdfb;
    --rose-red: #aa1945;
    --white: #fff;
    --carafe: #4e1a3d;
    --grey: #718096;
    --grey-2: #dedbdb;
    --grey-3: #f4f4fb;
    --grey-hover: #f7f8fb;
    --moon-blue: #8569ff;
    --light-purple: #8569ff14;
    --champagne: #ebe0d0;
    --red: #fa3e3e;
    /* to consider: #222427 */
    /* to consider: #161930 */
}

html {
    box-sizing: border-box;
}

body,
#root,
main,
html {
    height: 100%;
}

html,
body {
    overscroll-behavior: none;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    box-shadow: 0px 10px 40px -10px rgba(255, 0, 131, 0.7);
}

.btn-primary:hover {
    opacity: 0.8;
}

.bold {
    font-weight: bold;
}

/* overrides */
.emoji-mart-scroll {
    height: 200px !important;
}
.emoji-mart-title-label {
    font-size: 18px !important;
}

/* Initial loader */
@keyframes bouncing-loader {
    to {
        opacity: 0.1;
        transform: translate3d(0, -1rem, 0);
    }
}
.bouncing-loader {
    display: flex;
    justify-content: center;
}
.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: var(--primary);
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
}
