:root {
    --primary: #ff0083;
    --secondary: #161930;
    --text-on-secondary: #9ebdfb;
    --rose-red: #aa1945;
    --white: #fff;
    --carafe: #4e1a3d;
    --grey: #718096;
    --grey-2: #dedbdb;
    --grey-hover: #f2f3f5;
    --moon-blue: #8569ff;
    --champagne: #ebe0d0;
}

html {
    box-sizing: border-box;
}

body,
#root,
main,
html {
    height: 100%;
}

.btn-primary {
    background-color: var(--primary) !important;
    color: var(--white) !important;
    box-shadow: 0px 10px 40px -10px rgba(255, 0, 131, 0.7);
}

.react-tiny-popover-container {
    z-index: 500000 !important;
}

.btn-primary:hover {
    opacity: 0.8;
}

.bold {
    font-weight: bold;
}

/* overrides */
.emoji-mart-scroll {
    height: 200px !important;
}
.emoji-mart-title-label {
    font-size: 18px !important;
}
